#your_cart {
    border:  20px double;
    font-size: 96px;
    padding: 30px 30px;
    text-align: center;
    width:  40%;
}
#checkoutBtn {
    margin: 50px;
    position: relative;
    border: 50px;

}
#total {
    margin: 50px 50px 50px 50px;
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    
}